{%load static%}

<footer class="footer text-center text-lg-start text-white">
  <div class="container p-4 pb-0">
      <section class="mb-4 text-center">
          <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin"></i></a>
          <a class="btn btn-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
      <section class="text-center">
          <form action="">
              <div class="row d-flex justify-content-center">
                  <div class="col-auto">
                      <p class="pt-2"><strong>Suscríbete a nuestro servicio exclusivo</strong></p>
                  </div>
                  <div class="col-md-5 col-12">
                      <div class="form-outline mb-4">
                          <input type="email" id="form5Example27" class="form-control" />
                          <label class="form-label" for="form5Example27">Dirección de Email</label>
                      </div>
                  </div>
                  <div class="col-auto">
                      <button type="submit" class="btn btn-primary mb-4">Suscribirse</button>
                  </div>
              </div>
          </form>
      </section>
      <section class="mb-4">
          <p>Patagonia Travel ofrece experiencias turísticas inolvidables en Puerto Williams, conectándote con la naturaleza y la cultura local de la región más austral del mundo.</p>
      </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2024 Derechos Reservados: <a class="text-white" href="https://mdbootstrap.com/">Patagonia Travel</a></div>
</footer>